[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
python-decouple = "*"
Unipath = "*"
psycopg2-binary = "*"
django-phonenumber_field = "*"
phonenumbers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-knox = "*"
ShopifyAPI = "*"
django-shopify-auth = "*"
django-allauth = "*"
requests = "*"
django-cors-headers = "*"
drf-yasg = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
