Django
python-decouple
Unipath
psycopg2-binary
django-phonenumber_field
phonenumbers
djangorestframework
django-filter
django-tools
django-rest-knox
ShopifyAPI
django-shopify-auth
django-allauth
requests
django-cors-headers
drf-yasg
pillow
django-jazzmin
sendgrid-django
jsonfield
django-money
twilio
faker
django-storages[google]
fcm-django
beautifulsoup4
lxml
twelvedata
redis==3.5.3
celery==5.1.2
django-celery-results
django-celery-beat
redis-server
websocket
pandas
web3
